<div data-role="view" data-layout="main" data-model="APP.models.home" data-show="APP.models.home.show">
    <div id="container">
        <!--<h1 data-bind="html: title"></h1>-->
        <form id="registerForm" action="#" onclick="">
            <h4>
        Energi lige nu  
        </h4>
            <br />
            <img src="styles/images/battery_empty.png" style="float:left;margin-left:5%" /><img src="styles/images/battery_full.png" style="float:right;margin-right:5%;" />
            <!--<div class="sliderwrapper centerwidget " style="width:95%; margin-right:5%; height:1em; clear:both">-->
                <div id="sldEnergy" data-role="slider" data-max="10" data-min="0" data-bind="value: energi"></div>
            <!--</div>-->
            <br />
            <!-- sleep -->
            <div id="SleepForm">
                <h4>
                Søvnkvalitet
            </h4>
                <img src="styles/images/thumbs_down.png" style="float:left;margin-left:5%" /><img src="styles/images/thumbs_up.png" style="float:right;margin-right:5%;" />
                <div class="sliderwrapper centerwidget" style="width:95%; margin-right:5%; height:1em; clear:both">
                    <div id="sldSleep" data-role="slider" data-max="10" data-min="0" data-bind="value: sleep"></div>
                </div>
            </div>
            <div id="ActivityForm">
                <h4>Aktiviteter siden sidst&nbsp;</h4><span class="lastRegister"></span>
                <br />
                <br />
                <div class="centerwidget">
                    <input id="chkAGreen" type="checkbox" data-role="switch" data-bind="checked: activity_green" />
                    <input id="chkAYellow" type="checkbox" data-role="switch" data-bind="checked: activity_yellow" />
                    <input id="chkARed" type="checkbox" data-role="switch" data-bind="checked: activity_red" />
                </div>
            </div>
            <div style="margin: 0 5%;clear:both;">
                <h4 class="noindent">Note</h4>
                <br />
                <textarea id="note" style="resize: none" data-bind="value: note"></textarea>
            </div>
            <div class="centerwidget">
                <a id="btnRegister" href="#foo" data-role="button" data-bind="click: register">Registrer</a>
            </div>
        </form>
        <div data-role="modalview" id="ThankYou" style="width:90%; height:50%; text-align:center;">
            <h2>
        Tak for din indtastning! 
<br /><br />
        Du får en påmindelse om næste registrering.
        </h2>
        <a onclick="jQuery('#ThankYou').kendoMobileModalView('close');" data-role="button">Luk</a>
        </div>
    </div>
</div>